name: Trade Scanner
on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ccxt pandas requests mplfinance pandas-ta
      - name: Run Bot
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python bot.py
      - name: Save Data
        run: |
          git config --global user.name "ScannerBot"
          git config --global user.email "bot@trade.com"
          git add trade_history.json
          git commit -m "update trades [skip ci]" || exit 0
          git push
